track/track_*
track/dat/chi2_stat_*
res/D1/resolution_*
res/D2/resolution_*
res/D3/resolution_*
res/D4/resolution_*
res/D5/resolution_*
res/D6/resolution_*
res/D7/resolution_*
res/D8/resolution_*
res/D1/FIDUCIAL_*
res/D2/FIDUCIAL_*
res/D3/FIDUCIAL_*
res/D4/FIDUCIAL_*
res/D5/FIDUCIAL_*
res/D6/FIDUCIAL_*
res/D7/FIDUCIAL_*
res/D8/FIDUCIAL_*
